{% include "header.html" %}
  <body>
    <!-- Navigation-->
    {% include "navbar.html" %}
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('../static/assets/img/home-bg.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Clean Blog</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Post preview-->

          {% for blog in all_blogs: %}
          <div class="post-preview">
            <a href="{{url_for('post_page',id=blog.id)}}">
              <h2 class="post-title">
                {{ blog.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ blog.subtitle }}
              </h3>
            </a>

          </div>
          <!-- Divider-->
          <hr class="my-4" />
          {% endfor %}

    <!-- Footer-->
    {% include "footer.html" %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
